.sidebar-right-container {
	padding: 0 2rem;
	height: 100vh;
	position: sticky;
	top: 0;
}
.top-artists__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2rem;
	.title {
		color: $color_text;
		font-size: 1.2rem;
		font-weight: 600;
	}
	.more {
		font-size: 0.8rem;
		color: $color_text_alt;
	}
}

//  Item Artist

.item-artist {
	display: flex;
	align-items: center;
	margin: 1rem 0;
	&__image {
		width: 2.5rem;
		height: 2.5rem;
		margin-right: 1rem;
	}
	&__info {
		.name {
			font-size: 0.8rem;
			color: $color_text;
			font-weight: 400;
			display: flex;
			align-items: center;
			.verificate {
				background-color: #3498db;
				display: inline-flex;
				width: 0.8rem;
				height: 0.8rem;
				align-items: center;
				margin-left: 0.5rem;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					transform: rotate(45deg);
					background-color: #3498db;
					z-index: -1;
				}
			}
		}
		.followers {
			font-size: 0.7rem;
			color: $color_text_alt;
		}
	}
}
