// ListSongs
.list-songs{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

// Item Song
.song{
  width: 10rem;
  color: $color_text;
  &__img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
  }
  &__info{
    &__title{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
      font-size: 0.8rem;
    }
    &__author{
      font-size: 0.7rem;
      color: $color_text_alt;
    }
  }
}