.sidebar-container {
	background-color: $color_bg_alt;
	border-radius: 2rem;
	width: $width_sidebar;
	height: max-content;
	padding: 2rem;
	position: sticky;
	top: 2rem;
	left: 2rem;
}
.sidebar__header {
	margin-bottom: 2rem;
	&__avatar img {
		width: 4rem;
		height: 4rem;
	}
	&__name {
		font-size: 0.8rem;
		color: $color_text;
		font-weight: 200;
		.user__name {
			display: block;
			font-size: 1rem;
			font-weight: 400;
		}
	}
}
.nav__menu {
	color: $color_text;
	margin: 1rem 0;
	.nav__title {
		font-weight: 600;
	}
	.nav__list {
		.nav__item {
			margin: 1rem 0;
			font-size: 1rem;
			color: $color_text_alt;
			&:hover {
				cursor: pointer;
				color: $color_text;
			}
			&.liked {
				color: $color_red;
			}
		}
	}
}
