@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background: $color_bg;
}
// Layout
.layout {
	display: grid;
	grid-auto-flow: row dense;
	grid-template-columns: ($width_sidebar + 2rem) 3fr ($width_sidebar + 2rem);
	grid-template-rows: 0.5fr 5fr;
	gap: 1rem;
	grid-template-areas:
		"sidebar-left header header"
		"sidebar-left main sidebar-right";
	.sidebar-left {
		background-color: $color_bg_alt;
		border-radius: 2rem;
		width: $width_sidebar;
		height: calc(100vh - 4rem);
		margin: 2rem;
		padding: 2rem;
		position: fixed;
		grid-area: sidebar-left;
	}
	.sidebar-right {
		margin: 0 2rem;
		display: flex;
		flex-direction: column;
		max-height: calc(100vh - #{$height_header} - 4rem);
		grid-area: sidebar-right;
	}
	.header {
		width: 100%;
		position: sticky;
		display: grid;
		top: 0;
		grid-template-columns: max-content 4fr max-content max-content;
		gap: 1rem;
		padding: 2rem 2rem 0.5rem 0;
		align-items: center;
		background-color: $color_bg;
		z-index: 999;
		grid-area: header;
	}
	.main {
		grid-area: main;
		display: flex;
		justify-content: center;
	}
}
// Icons
.icon {
	background-color: $color_bg_alt;
	color: $color_text;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	margin: 0 0.5rem 0 0;
	padding: 0.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
// Section
.section {
	width: $container;
}

