// Colors
$color_bg: #1c1f28;
$color_bg_alt: #262c3a;
$color_text: #ffffff;
$color_text_alt: #545565;
$color_red: #fb415e;

// Widths and heights
$width_sidebar: 14rem;
$height_header: 5rem;

$section: 46rem;
